<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GCP</title>
</head>
<body>
<table style="padding-left: 3%;">
    <tr>
        <td rowspan="3"><img src="static/pp.jpeg" width="300" height="300"></td>
        <td>
            <h2>Nihar N. Suryawanshi</h2>
            <p>Email: nihar.suryawanshi@gmail.com</p>
            <p>Phone: +16825593815</p>
        </td>

    </tr>
</table>
</br>
<ul>
    <li>I am a Computer Science Graduate student at University of Texas at Arlington expected to graduate in May 2020.</li>
    <li>Currently working as API Engineer Intern with McKesson Corporation | McKesson Technology Business Unit.</li>
    <li>I hold passion for building robust and scalable web applications and have a good understanding of RESTful APIs/web services and Big Data technologies.</li>
    <li>I have a two years of experience working with payroll and HCM technology company Automatic Data
Processing (ADP), LLC as Member Technical/Assoc. Functional Consultant.</li>
    <li>I am proficient in Java, Scala, Python, PHP, SAP-ERP, PHP, JavaScript, SQL/NoSQL, Hadoop, Map
Reduce, Spark, Hive, Eclipse, Agile, HTML/CSS, XML and JSON, API, Microservices.</li>
    <li>Lastly I am a quick learner and tend to give my best in what every task and role I am assigned to.</li>
</ul>


</body>
</html>